///////////////////////////////////////// Default

.body_default {
  background-color: #0088ce;
  color: black;
}

.navbar_default {
  background-color: #0088ce;
  color: white;
}

.icone_access_default {
  background-color: white;
  color: #333333;
}

.icone_pen_default {
  color: #0088ce;
}

.card_default {
  // pour ajouter, modifier, vailder
  border-radius: 10%;
  color: white;
  // box-shadow: ; à définir
}

.title_fem_default {
  color: #0088ce;
}

.input_default {
  background-color: grey;
  color: black;
}

.icone_relative_page_default {
  background-color: #0088ce;
  color: white;
}

button {
  color: white;
}

.button_valide_default {
  background-color: #0088ce;
}

.button_cancel_default {
  background-color: red;
}

.burger_defaukt {
  color: black;
}

///////////////////////////////////////// Dark

.body_dark {
  background-color: #0c131f;
  color: white;
}

button {
  color: black;
}

.icone_relative_page_dark {
  background-color: #0c131f;
  border: #0c131f;
  color: #0088ce;
}

.burger_dark {
  color: #0088ce;
}

.icone_access_default_dark {
  background-color: #0088ce;
  color: #0c131f;
}

///////////////////////////////////////// Aveugle

.body_default_color_blind {
  background-color: #17345f;
  color: white;
}

.navbar_color_blind {
  background-color: #ee4b2f;
  color: white;
}

.icone_pen_color_blind {
  color: #ee4b2f;
}

.card_color_blind {
  // pour ajouter, modifier, vailder
  border-radius: 10%;
  color: white;
  // box-shadow: ; à définir
}

.title_fem_color_blind {
  color: #ee4b2f;
}

.icone_relative_page_color_blind {
  background-color: #ee4b2f;
  color: white;
}

.button_color_blind {
  background-color: #ee4b2f;
}

.burger_color_blind {
  color: #ee4b2f;
}

///////////////////////////////////////// Admin

.navbar_admin {
  background-color: #6e1e78;
  color: white;
}

.icone_access_admin {
  background-color: white;
  color: #6e1e78;
}

.icone_pen_admin {
  color: #6e1e78;
}

.title_fem_admin {
  color: #6e1e78;
}

.input_admin {
  background-color: #f7baff;
  color: black;
}

.icone_relative_page_admin {
  background-color: white;
  color: #f7baff;
}

.button_valide_admin {
  background-color: #f7baff;
}

.button_cancel_admin {
  background-color: red;
}

.burger_defaukt {
  color: #f7baff;
}
